# Python para la Ciencia de Datos - Clase 1

Fecha: **08/05/2024**

Autor: **Ing. CIP Francisco Cerna**

Objetivo:

Desarrollar los ejercicios prácticos en el lenguaje de programación Python.

Documentación oficial:


1.   [docs.python.org](https://docs.python.org/3/tutorial/)

In [1]:
!python --version

Python 3.10.12

## Parte 1: Tipos de datos



1.   **Entero (int):** Los enteros representan números enteros positivos, negativos o cero. Permite almacenar cantidades discretas, como edad, cantidad de objetos o personas, etc.

1.   **Float (float):** Representan números decimales, tanto positivos como negativos. Permite almacenar valores numéricos con precisión decimal, como precios, medidas, promedios, alturas, etc.

1.   **Cadenas de texto (string):** Representan secuencias de caracteres encerrados entre comillas simples o dobles. Se declaran entre comillas simples (') o dobles ("). Permite almacenar texto, nombres, descripciones, mensajes de error, etc.

1.   **Booleanos (bool):** Representan valores lógicos de verdad o falsedad. Se declaran como `True` o `False`. Representan condiciones, estados binarios (activado/desactivado, abierto/cerrado, cliente/no cliente, compra/no compra).

1.   **Listas (list):** Colecciones ordenadas y mutables de elementos de cualquier tipo de dato.
Sintaxis: Se declaran entre corchetes `[]`. Permite almacenar colecciones de datos relacionados, como listas de compras, registros de alumnos, conjuntos de datos, etc.

1.   **Tuplas:** Colecciones ordenadas e inmutables de elementos de cualquier tipo de dato. Se declaran entre paréntesis `()`. Permite almacenar datos que no cambian, como coordenadas geográficas, información de configuración, etc.

1.   **Diccionarios (dict):** Colecciones no ordenadas de pares clave-valor, donde cada clave es única y mapea a un valor. Se declaran entre llaves `{}`, utilizando dos puntos `:` para separar la clave del valor. Permite almacenar datos asociados a claves únicas, como información de usuarios, configuraciones de objetos, bases de datos relacionales, etc.

       Ejemplo:
     
     ```diccionario_alumno = {'nombre':'Luis', 'edad':18, 'curso':'Ciencias'}```

### Pregunta 1:

Utiliza la función `print()` para crear un saludo. Dentro de la función debe ir una variable tipo cadena.

🚨 El saludo debe incluir tu nombre.

Ejemplo:

```
print("Acá debe ir el saludo")
```

In [2]:
nombre = 'Juan Carlos'
print(f'Hola {nombre}')

Hola Juan Carlos

### Pregunta 2:

Crear las variables `edad` y `year`. Asignar un valor entero a cada variable.

In [3]:
edad = 36
year = 1987

### Pregunta 3:

Mostrar el tipo de dato de cada una de las dos variables creadas anteriormente. Puedes utilizar la función `type()`.

Ejemplo:

```
print(type(la_variable))
```

In [4]:
print(type(edad))
print(type(year))

<class 'int'>
<class 'int'>

### Pregunta 4:

Crear una variable llamada `cantidad`. La variable debe tener el valor `5`.

In [5]:
cantidad = 5

### Pregunta 5:

Multiplicar la variable que creaste anteriomente llamada `edad` y `cantidad`. El resultado debe estar almacenado en una nueva variable llamada `resultado`.

In [6]:
resultado = edad * cantidad
print(resultado)

180

### Pregunta 6:

Dividir la variable resultado entre `3`.

¿El resultado de la división es entero o decimal?

In [8]:
print(type(resultado / 3))

<class 'float'>

El resultado es un decimal

### Pregunta 7:

Crear dos variables con los nombres `variable1` y `variable2`. Ambas variables almacenarán valores numéricos (enteros o decimales).

Luego, utilizarás las operaciones aritméticas básicas (+, -, *, /). El resultado de cada operación debe ser almacenado en una variable diferente.

Ejemplo:

```
resultado_suma = variable1 + variable2
resultado_resta = variable1 - variable2
.
.
.
```

In [9]:
variable1 = 10
variable2 = 3
resultado_suma = variable1 + variable2
resultado_resta = variable1 - variable2
resultado_multiplicacion = variable1 * variable2
resultado_division = variable1 / variable2

### Pregunta 8:

Mostrar el valor de cada una de las cuatro variables que creaste anteriormente. Se sugiere utilizar la función `print()` por cada variable.

Ejemplo:

```
print(resultado_suma)
print(resultado_resta)
.
.
.
```

In [10]:
print(resultado_suma)
print(resultado_resta)
print(resultado_multiplicacion)
print(resultado_division)

13
7
30
3.3333333333333335

### Pregunta 9:

Crear una lista de 5 elementos. Puedes utilizar la función `range()`.

[Documentación](https://docs.python.org/3/library/stdtypes.html#range)

La función `range()` recibe 2 argumentos obligatorios. El primero es elemento con el que iniciará la lista. El segundo elemento es el valor máximo sumado más el numero 1. En otras palabras, si colocas range(1,2), entonces se creará una lista de un elemento donde el único elemento será 1.

Para asegurarnos que el valor retornado es una lista, se puede colocar la función `list()`. De esta manera, se casteará el valor resultado de la función `range()` a un tipo lista.

Ejemplo:

```
list(range(1, 11))
```

Almacenar el valor de la lista en un variable.

In [11]:
mi_lista  = list(range(1, 6))
print(mi_lista)

[1, 2, 3, 4, 5]

### Pregunta 10:

Modifica el elemento con el índice 3 de la lista que creaste anteriormente. El nuevo valor será 0.

Ejemplo:

```
# Para modificar un elmento se puede utilizar la siguiente sentencia
mi_lista = [0,1,1]
# Quiero modificar el índice 0
mi_lista[0] = 1
# El resultado de la lista será: 1,1,1
print(mi_lista)
```

In [12]:
mi_lista[3] = 0
print(mi_lista)

[1, 2, 3, 0, 5]

### Pregunta 11:

Castear a cadena (string) el valor del elemento con índice 2 de la lista que creaste en la pregunta 9. Puedes usar la función `str()`.

Ejemplo:

```
str(AQUI_VA_LA_VARIABLE)
```

Para ello, considera el ejemplo de la pregunta 10.

Almacenar el resultado en una variable llamada `mi_respuesta`.

In [13]:
mi_respuesta = str(mi_lista[2])

### Pregunta 12:

Crear una tupla de 5 elementos y almacenar el resultado en una variable llamada `tupla_example`. Cada elemento de la tupla debe ser un valor de cadena (string).

Luego, modificar el elemento con el índice 0 por un valor numérico.

Ejemplo:

```
# Para modificar un elmento se puede utilizar la siguiente sentencia
mi_lista = [0,1,1]
# Quiero modificar el índice 0
mi_lista[0] = 1
# El resultado de la lista será: 1,1,1
print(mi_lista)
```

¿Qué error te aparece?

In [15]:
tupla_example = ['Lunes','Martes','Miercoles','Jueves','Viernes']
tupla_example[0] = 1
print(tupla_example)

[1, 'Martes', 'Miercoles', 'Jueves', 'Viernes']

No aparece un error

### Pregunta 13:

Castear el valor de la variable `string_num` a entero y mostrar el resultado con la función `print()`.

Para castear el valor puedes usar la función `int()`.

Ejemplo:

```
int("Acá va el valor numérico entero.")
```

In [17]:
string_num = "123"
integer_num = int(string_num)
print(integer_num)

123

### Pregunta 14:

Convertir a cadena (string) la variable `integer_num`.

Como sugerencia, usar la función `str()`.

In [22]:
print(str(integer_num))

123

### Pregunta 15:

Ejecutar la siguiente celda de código y colocar los dos valores enteros solicitados.

In [23]:
# Solicitar números al usuario
numero1 = int(input("Ingrese el primer número: "))
numero2 = int(input("Ingrese el segundo número: "))

# Calcular la resta
resta = numero1 - numero2

# Mostrar el resultado
print("La resta de los números es:", resta)

Ingrese el primer número: 6
Ingrese el segundo número: 4
La resta de los números es: 2

### Pregunta 16:

Ejecutar la siguiente celda de código y colocar un valor tipo cadena.

¿Qué error te aparece?

In [24]:
# Solicitar números al usuario
numero1 = int(input("Ingrese el primer número: "))
numero2 = int(input("Ingrese el segundo número: "))

# Calcular la resta
resta = numero1 - numero2

# Mostrar el resultado
print("La resta de los números es:", resta)

Ingrese el primer número: 8
Ingrese el segundo número: Texto

ValueError: invalid literal for int() with base 10: 'Texto'

### Pregunta 17:

Crear una lista de cadenas (string). La lista debe almacenarse en la variable `folders`.

In [25]:
folders = ['Enero','Febrero','Marzo','Abril','Mayo']

### Pregunta 18:

Utilizar la función `.join()` para unir los elementos de la lista `folders` que creaste en la pregunta anterior.

Almacenar el resultado en una variable llamada `folders_join`.

Luego, mostrar la variable `folders_join` usando la función `print()`

Ejemplo:

```
# La función .join() permite unir los elementos de una lista en una cadena de texto.
# Cada elemento de la cadena estará separado por el elemento que coloques antes de la función join.
'/'.join(AQUI_VA_LA_LISTA)
```

In [26]:
folders_join = '/'.join(folders)
print(folders_join)

Enero/Febrero/Marzo/Abril/Mayo

### Pregunta 19:

Utilizar la función `.split()` para separar los elementos de la variable `folders_join` que creaste en la pregunta anterior.

La función `.split()` recibe como argumento un caracter que será el que delimite el texto que recibe.


Ejemplo:

```
# MI_TEXTO = 'hola/mundo/hoy/esta/nublado'
MI_TEXTO.split('/')
# Resultado: ['hola', 'mundo', 'hoy', 'esta', 'nublado']
```

In [27]:
print(folders_join.split('/'))

['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo']

### Pregunta 20:

A partir del diccionario dado en la siguiente celda de código, mostrar el valor de sus llaves.

Como sugerencia, utiliza la función `.keys()`.

In [28]:
# Crear un diccionario vacío
diccionario = {}

# Agregar elementos al diccionario (clave:valor)
diccionario["nombre"] = "Francisco"
diccionario["edad"] = 999
diccionario["profesion"] = "Ingeniero"
diccionario["ciudad"] = "Lima"

# Mostrar el resultado
print(diccionario.keys())

dict_keys(['nombre', 'edad', 'profesion', 'ciudad'])

### Pregunta 21:

Corrige la siguiente celda de código para mostrar el resultado de utilizar la función `get()` en el diccionario `frutas`.

In [29]:
frutas = {"manzana": 1, "naranja": 9, "plátano": 0, "uva": 10, "fresa": 0}

fruta_buscada = frutas.get("manzana")

print(f"Se encontró la fruta: {fruta_buscada}")

Se encontró la fruta: 1

### Pregunta 22:

A partir del diccionario `frutas` creado en la pregunta anterior.

Utiliza la función `get()` para buscar la fruta `frambuesa`.

¿Cuál es el valor de la variable `fruta_buscada`?

In [30]:
fruta_buscada = frutas.get("frambuesa")
print(fruta_buscada)

None

### Pregunta 23:

Modifica la siguiente celda de código para que cuando no exista la fruta, entonces retorne el mensaje "NO EXISTE".

Como sugerencia la función `get()` puede recibir dos argumentos. El primer argumento recibe el valor a consultar en el diccionario y el segundo argumento, es opcional, recibe el valor que retornará en caso no exista el valor de consulta.



```
get(VALOR_CONSULTA, VALOR_DEFAULT)
```

In [31]:
fruta_buscada = frutas.get("frambuesa", "NO EXISTE")

print(str(fruta_buscada))

NO EXISTE

### Pregunta 24:

Encuentra el error en la siguiente celda de código para mostrar la cantidad de elementos que tiene la lista.

El resultado esperado es:

```
Existen 1889
```

Como sugerencia, solamente debes agregar dos caracteres a la celda de código.

In [32]:
lista = range(1, 1890)

print(f"Existen {len(lista)}")

Existen 1889

### Pregunta 25:

Encuentra el error y corrige la celda de código para que funcione correctamente.

In [33]:
resultados = {"r2": 0.99, "desviación_estándar": 90.08, "modelo": "Regresión Logística"}

sdv = resultados.get("desviacion_estádar", 0)

print(sdv + 9)

9