In [1]:
!pip install opendatasets
import opendatasets as od

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.4)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.6.14)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2024.6.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.7)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [8]:
#Asignar a dataset_link el link de los datos que se desean importar
dataset_link="https://www.kaggle.com/competitions/predicting-credit-card-debt-for-individuals"
od.download(dataset_link)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: mmacavilca
Your Kaggle Key: ··········
Downloading predicting-credit-card-debt-for-individuals.zip to ./predicting-credit-card-debt-for-individuals

100%|██████████| 8.44k/8.44k [00:00<00:00, 2.20MB/s]

Extracting archive ./predicting-credit-card-debt-for-individuals/predicting-credit-card-debt-for-individuals.zip to ./predicting-credit-card-debt-for-individuals

In [9]:
#Copiar ruta donde se cargaron los archivos
import os
os.chdir("predicting-credit-card-debt-for-individuals")
os.listdir()

['Test_Features.csv',
 'Train_Features.csv',
 'Train_Output.csv',
 'Sample_Submission.csv']

In [10]:
#Mostrar un archivo cargado de la lista
import pandas as pd
archivo="Test_Features.csv"
df1=pd.read_csv(archivo)
df1

,Index,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Region
0,1,24.230,4756,351,2,64,15,Yes,No,Yes,South
1,2,12.414,855,119,3,32,12,No,No,Yes,East
2,3,36.929,6257,445,1,24,14,Yes,No,Yes,West
3,4,35.691,2880,214,2,35,15,No,No,No,East
4,5,10.627,1647,149,2,71,10,Yes,Yes,Yes,West
5,6,83.851,8494,607,5,47,18,No,No,No,South
6,7,10.793,3878,321,8,29,13,No,No,No,South
7,8,15.184,2420,192,2,69,11,Yes,No,Yes,South
8,9,10.842,4391,358,5,37,10,Yes,Yes,Yes,South
9,10,36.496,4378,339,3,69,15,Yes,No,Yes,West
10,11,53.598,3714,286,3,73,17,Yes,No,Yes,East
11,12,38.009,3075,245,3,45,15,Yes,No,No,East
12,13,11.603,2278,187,3,71,11,No,No,Yes,South
13,14,32.164,2937,223,2,79,15,Yes,No,Yes,East
14,15,26.400,5640,398,3,58,15,Yes,No,No,West
15,16,16.711,5274,387,3,42,16,Yes,No,Yes,West
16,17,55.187,5352,385,4,50,17,Yes,No,Yes,South
17,18,51.872,5294,390,4,81,17,Yes,No,No,South
18,19,49.927,6396,485,3,75,17,Yes,No,Yes,South
19,20,63.534,8100,581,2,50,17,Yes,No,Yes,South
20,21,30.007,6481,462,2,69,9,Yes,No,Yes,South
21,22,121.709,7818,584,4,50,6,No,No,Yes,South
22,23,53.401,5319,377,3,35,12,Yes,No,No,East
23,24,59.855,4964,365,1,46,13,Yes,No,Yes,South
24,25,19.537,1362,143,4,34,9,Yes,No,Yes,West
25,26,32.916,1786,154,2,60,8,Yes,No,Yes,West
26,27,21.238,3089,254,3,59,10,Yes,No,No,South
27,28,27.578,2531,195,1,34,15,Yes,No,Yes,South
28,29,121.834,10673,750,3,54,16,No,No,No,East
29,30,27.470,2820,219,1,32,11,Yes,No,Yes,West
30,31,42.529,4986,369,2,37,11,No,No,Yes,West
31,32,49.502,6819,505,4,55,14,No,No,Yes,South
32,33,83.869,7667,554,2,83,11,No,No,No,East
33,34,29.400,4840,368,3,76,18,Yes,No,Yes,South
34,35,23.365,2179,167,2,75,15,No,No,No,West
35,36,89.000,5759,440,3,37,6,Yes,No,No,South
36,37,35.610,6135,466,4,40,12,No,No,No,South
37,38,34.772,2021,167,3,57,9,No,No,No,West
38,39,17.316,1335,138,2,65,13,No,No,No,East
39,40,58.026,7499,560,5,67,11,Yes,No,No,South
40,41,110.968,6662,468,3,45,11,Yes,No,Yes,South
41,42,57.202,3411,259,3,72,11,Yes,No,No,South
42,43,13.234,3922,299,2,77,17,Yes,No,Yes,South
43,44,19.636,4896,387,3,64,10,Yes,No,No,East
44,45,14.891,3606,283,2,34,11,No,No,Yes,South
45,46,21.011,3402,261,2,68,17,No,No,Yes,East
46,47,10.354,3480,281,2,70,17,No,No,Yes,South
47,48,11.741,2271,182,4,59,12,Yes,No,No,West
48,49,41.400,2561,215,2,36,14,No,No,Yes,South
49,50,12.335,4471,344,3,79,12,No,No,Yes,East

In [11]:
# Agrupar el dataframe por una columna
conteo_por_region = df1.groupby('Region')['Rating'].size()
conteo_por_region

Region
East     12
South    26
West     12
Name: Rating, dtype: int64

In [12]:
# Agrupar el dataframe por una columna
conteo_por_edad = df1.groupby('Age')['Rating'].size()
conteo_por_edad

Age
24    1
29    1
32    2
34    3
35    2
36    1
37    3
40    1
42    1
45    2
46    1
47    1
50    3
54    1
55    1
57    1
58    1
59    2
60    1
64    2
65    1
67    1
68    1
69    3
70    1
71    2
72    1
73    1
75    2
76    1
77    1
79    2
81    1
83    1
Name: Rating, dtype: int64

In [13]:
# Agrupar el dataframe por una columna
conteo_por_ec = df1.groupby('Married')['Rating'].size()
conteo_por_ec

Married
No     19
Yes    31
Name: Rating, dtype: int64

In [14]:
df_filtrado1 = df1[df1['Married'] == "Yes"]
df_filtrado1

,Index,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Region
0,1,24.230,4756,351,2,64,15,Yes,No,Yes,South
1,2,12.414,855,119,3,32,12,No,No,Yes,East
2,3,36.929,6257,445,1,24,14,Yes,No,Yes,West
4,5,10.627,1647,149,2,71,10,Yes,Yes,Yes,West
7,8,15.184,2420,192,2,69,11,Yes,No,Yes,South
8,9,10.842,4391,358,5,37,10,Yes,Yes,Yes,South
9,10,36.496,4378,339,3,69,15,Yes,No,Yes,West
10,11,53.598,3714,286,3,73,17,Yes,No,Yes,East
12,13,11.603,2278,187,3,71,11,No,No,Yes,South
13,14,32.164,2937,223,2,79,15,Yes,No,Yes,East
15,16,16.711,5274,387,3,42,16,Yes,No,Yes,West
16,17,55.187,5352,385,4,50,17,Yes,No,Yes,South
18,19,49.927,6396,485,3,75,17,Yes,No,Yes,South
19,20,63.534,8100,581,2,50,17,Yes,No,Yes,South
20,21,30.007,6481,462,2,69,9,Yes,No,Yes,South
21,22,121.709,7818,584,4,50,6,No,No,Yes,South
23,24,59.855,4964,365,1,46,13,Yes,No,Yes,South
24,25,19.537,1362,143,4,34,9,Yes,No,Yes,West
25,26,32.916,1786,154,2,60,8,Yes,No,Yes,West
27,28,27.578,2531,195,1,34,15,Yes,No,Yes,South
29,30,27.470,2820,219,1,32,11,Yes,No,Yes,West
30,31,42.529,4986,369,2,37,11,No,No,Yes,West
31,32,49.502,6819,505,4,55,14,No,No,Yes,South
33,34,29.400,4840,368,3,76,18,Yes,No,Yes,South
40,41,110.968,6662,468,3,45,11,Yes,No,Yes,South
42,43,13.234,3922,299,2,77,17,Yes,No,Yes,South
44,45,14.891,3606,283,2,34,11,No,No,Yes,South
45,46,21.011,3402,261,2,68,17,No,No,Yes,East
46,47,10.354,3480,281,2,70,17,No,No,Yes,South
48,49,41.400,2561,215,2,36,14,No,No,Yes,South
49,50,12.335,4471,344,3,79,12,No,No,Yes,East

In [17]:
# Define las columnas para el crosstab
columna_fila = "Region"  # Reemplaza con la columna para las filas
columna_columna = "Cards"  # Reemplaza con la columna para las columnas
valores = "Rating"  # Reemplaza con la columna para los valores

# Crea el crosstab
tabla_crosstab = pd.crosstab(
    df1[columna_fila],
    df1[columna_columna],
    values=df1[valores],
    #aggfunc=sum
    aggfunc=len
)

tabla_crosstab

Cards     1    2    3    4    5    8
Region
East    NaN  5.0  7.0  NaN  NaN  NaN
South   2.0  8.0  7.0  5.0  3.0  1.0
West    2.0  4.0  4.0  2.0  NaN  NaN

In [19]:
import numpy as np
# Define las columnas para el crosstab
columna_fila = "Age"  # Reemplaza con la columna para las filas
columna_columna = "Married"  # Reemplaza con la columna para las columnas
valores = "Income"  # Reemplaza con la columna para los valores

# Crea el crosstab
tabla_crosstab2 = pd.crosstab(
    df1[columna_fila],
    df1[columna_columna],
    values=df1[valores],
    #aggfunc=sum
    aggfunc=np.mean
)

tabla_crosstab2

Married        No         Yes
Age
24            NaN   36.929000
29        10.7930         NaN
32            NaN   19.942000
34            NaN   20.668667
35        44.5460         NaN
36            NaN   41.400000
37        89.0000   26.685500
40        35.6100         NaN
42            NaN   16.711000
45        38.0090  110.968000
46            NaN   59.855000
47        83.8510         NaN
50            NaN   80.143333
54       121.8340         NaN
55            NaN   49.502000
57        34.7720         NaN
58        26.4000         NaN
59        16.4895         NaN
60            NaN   32.916000
64        19.6360   24.230000
65        17.3160         NaN
67        58.0260         NaN
68            NaN   21.011000
69            NaN   27.229000
70            NaN   10.354000
71            NaN   11.115000
72        57.2020         NaN
73            NaN   53.598000
75        23.3650   49.927000
76            NaN   29.400000
77            NaN   13.234000
79            NaN   22.249500
81        51.8720         NaN
83        83.8690         NaN